<div class="container display">
	<div class="row">
		<div class="col-sm-4">
			<p id="question"><%= @question %>
				<br/><em>-You</em>
			</p>
			<p id="answer"><strong><%= @answer %></strong>
				<br/><em>-Your coach</em>
			</p>
		</div>
	</div>
</div>

<div class="container">
	<button type="button" class="btn btn-outline-primary link"><%= link_to "ask new question", question_ask_path %></button>
</div>

