<div class="container text-center">
	<form action="answer" method="post">
	<%= hidden_field_tag :authenticity_token,form_authenticity_token %>
	  <div class="form-group">
	    <input type="text" class="form-control" name="question"placeholder="Enter a question">
	  </div>
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

