// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
	padding-bottom: 50px;
}

a, a:hover {
	text-decoration: none;
}

a:hover {
	color:white
}

#question {
	padding: 15px;
	border-left: .2em solid #DDDDDD;
}

#answer {
	padding: 15px;
	border-left: .2em solid #DDDDDD;
	background-color: #FFFEE2;
}